.contact{
    background: url('./contact.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh; 
    padding-top: 200px;
}

.contact form{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contact form input, .contact form textarea{
    margin: auto;
    width: 60%;
    border-radius: 10px;
    padding: 10px 15px;
    margin-top: 20px;
    background-color: rgba(238, 238, 238, 0.61);
    color: rgb(37, 37, 37);
    font-weight: 600;
}

.contact input[type="submit"]{
    width: 62%;
    background-color: rgb(112, 112, 112);
    color: white;
    font-weight: 600;
    letter-spacing: 3px;
    cursor: pointer;
}

@media screen and (max-width: 900px){
    .contact{
        background: url('./contact.png');
        background-size: cover;
        /* background-position: left; */
        background-position: right 25% bottom 45%;
        min-height: 100vh; 
        padding-top: 80px;
    }

    .contact form input, .contact form textarea{
        margin: auto;
        width: 85%;
        border-radius: 10px;
        padding: 10px 15px;
        margin-top: 20px;
        background-color: rgba(238, 238, 238, 0.61);
        color: rgb(37, 37, 37);
        font-weight: 600;
    }

    .contact input[type="submit"]{
        width: 92%;
        background-color: rgb(112, 112, 112);
        color: white;
        font-weight: 600;
        letter-spacing: 3px;
        cursor: pointer;
    }
}