.projects{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    padding: 20px 50px;
}

.project{
    border: 2px solid black;
    padding: 20px;
    background-color: rgba(134, 134, 134, 0.116);

}

.links a{
    text-transform: none;
    text-decoration: none;
    font-weight: 600;
    color: white;
    background-color: black;
    border-radius: 50px;
    padding: 8px 15px;
    font-size: 0.8rem;
    margin: 5px;
}

.links{
    padding-top: 20px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 900px){
    .projects{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
        padding: 20px 20px;
    }

    .project{
        border: 2px solid black;
        padding: 10px; 
        background-color: rgba(134, 134, 134, 0.116);
    
    }
    
}